@font-face {
  font-family: "Moon Flower";
  src: url(fonts/MoonFlower.ttf);
}

@font-face {
  font-family: "Moon Flower Bold";
  src: url(fonts/MoonFlowerBold.ttf);
}

body {
  /*padding-top: 50px;*/
  overflow-x: hidden;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  font-weight: 300;
  line-height: 1.5;
}

a {
  cursor: pointer;
  color: #004531;
}

a:hover {
  cursor: pointer;
  color: #a5d7b9;
}

p {
  margin-top: 0px !important;
}

.navbar {
  background-color: #a5d7b9;
  padding-bottom: 0px;
}

.navbar-nav li a:focus,
.navbar-nav li a:active,
.navbar-nav li a:hover {
  font-weight: 600 !important;
}

.navbar-default {
  border: none;
  margin-bottom: 0px;
}

.navbar-nav li a,
.navbar-nav li a:focus,
.navbar-nav li a:active,
.navbar-nav li a:hover {
  color: #004531 !important;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  background-color: transparent;
}

.navbar-default,
.navbar-toggle:focus,
.navbar-default,
.navbar-toggle,
.navbar-toggle:hover {
  background-color: #a5d7b9 !important;
  border-color: #a5d7b9 !important;
}

.navbar-default .navbar-toggle .icon-bar {
  background-color: #004531 !important;
}

.logo img {
  display: block;
  margin: auto;
  max-width: 15%;
  padding-top: 150px;
}

.parallax-logo {
  /* The image used */
  background-image: url("images/cactus.jpeg");

  height: 800px;

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center center;
  background-repeat: no-repeat;
  background-size: cover;
  /*background-size: 100%;*/
}

.parallax-logo-second {
  /* The image used */
  background-image: url("images/tiles.jpg");
  height: 150px;

  /* Create the parallax scrolling effect */
  background-attachment: scroll;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

.row {
  margin: 0px;
}

.block-services {
  padding: 0px 50px 0px 50px;
  background-color: white;
  font-size: 16px;
  margin-bottom: 50px;
}

.block-services--contact {
  max-width: 900px;
  margin: 0 auto;
  padding-bottom: 3em;
}

.block-instagram {
  padding: 0px 50px 0px 50px;
  background-color: white;
  font-size: 16px;
  margin-bottom: 50px;
}

.block-title {
  text-align: center;
  font-family: "Moon Flower Bold", "Futura", sans-serif;
}

.block-subtitle {
  text-align: center;
  font-family: "Moon Flower Bold", "Futura", sans-serif;
}

.block-text {
  padding: 0px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  text-align: center;
  font-size: 16px;
  line-height: 1.6;
  margin: 10px;
  margin-bottom: 0px;
  text-align: center;
}

.block-icons {
  max-height: 80px;
  width: auto;
  display: block;
  margin: auto;
}

.block-text-about {
  text-align: center;
  margin-top: 0px;
  max-width: 900px;
  margin: auto;
}

.justify {
  text-align: justify;
}

.profile-img {
  height: 250px;
  border-radius: 50px;
  width: 250px;
  display: block;
  margin: auto;
  background-size: cover;
  background-position: center center;
  background-repeat: no-repeat;
  background-image: url("images/stylingbyvaleria_valeria_nistro_personal_shopper.png");
}

.profile-img img {
  margin-left: 0px;
}

.footer {
  min-height: 130px;
  background-color: #004531;
  color: #bcbec0;
  padding: 1em 0;
}

.footer-container {
  display: inline-flex;
  justify-content: center;
  margin-bottom: 10px;
  width: 100%;
}

.footer a {
  color: #bcbec0;
  text-decoration: underline;
}

.btn-social-icon {
  color: #004531;
  font-size: 25px;
  background-color: white;
  border-radius: 60px;
  width: 50px;
  height: 50px;
  margin: 5px;
}

.lightwidget body {
  margin: 20px !important;
}

.font-awesome {
  font-size: 40px;
  text-align: center;
}

.contact-text {
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  font-size: 16px;
  text-align: center;
}

.form-control,
.form-control:focus {
  background-color: #bcbec0;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  border-radius: 20px;
  border-color: #bcbec0;
  box-shadow: none;
}

.form-group {
  margin-bottom: 4px;
}

.form-padding {
  padding: 5px;
}

.form-control::-webkit-input-placeholder {
  color: black;
}
.form-control:-moz-placeholder {
  color: black;
}
.form-control::-moz-placeholder {
  color: black;
}
.form-control:-ms-input-placeholder {
  color: black;
}

.btn-default {
  background-color: #a5d7b9;
  border-color: #a5d7b9;
  border-radius: 20px;
  float: right;
  margin-top: 15px;
  font-family: "Open Sans", "Helvetica", "Arial", sans-serif;
  padding: 10px;
  width: 150px;
}

.btn-social-icon:hover {
  background-color: #bcbec0 !important;
  color: #004531 !important;
}

.about-flex {
  margin-bottom: 50px;
}

.form-group {
  padding-right: 20px;
}

.readmore,
.readmore:active {
  margin: auto;
  display: flex;
  border: none;
  background-color: white;
  outline-color: white;
  text-decoration: underline;
  color: #004531;
}

.readmore:hover {
  color: #a5d7b9;
}

.reviewform {
  display: none;
}

.reviewformbutton {
  text-decoration: underline !important;
}

.review-container {
  background-color: #fafafa;
  border: 1px solid #d5d5d5;
  border-radius: 20px;
  padding: 15px;
  padding-bottom: 20px;
  width: 100%;
  max-width: 900px;
  margin: 20px auto;
}

.review-author {
  border-bottom: 1px solid #d8d8d8;
  color: #222222;
  font-size: 12px;
  font-weight: bold;
  margin-bottom: 20px;
  padding-bottom: 3px;
}

.review-content {
  color: #777777;
}

.-sreviews {
  text-align: center;
}

.top {
  font-size: 14px !important;
  position: absolute;
  right: 3em;
}

.dots {
  margin-left: 0px !important;
}

@media (max-width: 375px) {
  .block-services {
    padding: 0px 0px 0px 0px;
  }

  .block-instagram {
    padding: 0px 0px 0px 0px;
  }
}

@media (max-width: 480px) {
  .block-services {
    padding: 0px 25px 0px 25px;
  }

  .block-instagram {
    padding: 0px 25px 0px 25px;
  }

  .parallax-logo {
    height: 300px;
    background-attachment: inherit;
  }

  .logo img {
    padding-top: 50px;
    max-width: 20%;
  }

  .btn-social-icon {
    transform: scale(0.6);
  }
}

.small {
  display: block;
}

.large {
  display: none;
}

@media screen and (min-width: 768px) {
  .small {
    display: block;
  }

  .large {
    display: none;
  }

  .parallax-logo {
    background-attachment: fixed;
  }

  .parallax-logo-second {
    background-attachment: fixed;
  }

  .review-container {
    width: 80%;
  }
}

@media screen and (min-width: 992px) {
  .small {
    display: none !important;
  }

  .large {
    display: block;
  }
}
